<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member</title>
    <link rel="stylesheet" href="css/member.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%- include('Owl_Caoursel_slider') %>
</head>
<body>
    <%- include('nav') %>
    <% if (data) { %>
        <div class="owl-carousel">
            <% Object.values(data).forEach((item) => { %>
                <div class="box">
                    <div class="img-cover">
                        <img src="../public/uploads/<%= item.cover %>" alt="" />
                    </div>
                    <div class="text-info">
                        <h1><%= item.name %></h1>
                        <p><%= item.description %></p>
                    </div>
                    <div class="footer-info">
                        <a href="<%= item.link[0] %>" class="fa fa-facebook"></a>
                        <a href="<%= item.link[1] %>" class="fa fa-twitter"></a>
                        <a href="<%= item.link[2] %>" class="fa fa-youtube"></a>
                    </div>
                </div>
            <%})%>
        </div>
    <%} else { %>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>No Data</h1>
                </div>
            </div>
        </div>
    <%}%>
    <hr>
    <div class="text">
        <button id="text-strong">click here</button>
        <p id="text-p-descript">Slider Bar animation with Owl-Caroursal.js</p>
    </div>
    <%- include('footer') %>
    <%- include('script') %>
    <script src="js/script.js"></script>
</body>
</html>